version: '2'
services:
    web:
        build:
            context: ./
            dockerfile: DOCKERFILE
        volumes:
            - ../:/var/www/site
        links:
            - mysql
            - memcached
        expose:
            - "80"
        networks:
            - dlocal-net
            - proxylocal_docker-proxy-net
        depends_on:
            - mysql
            - memcached
    mysql:
        image: mysql
        command: mysqld --default-authentication-plugin=mysql_native_password
        restart: always
        ports:
            - "MYSQL_PORT:3306"
        environment:
            MYSQL_ROOT_PASSWORD: 1234
        volumes:
            - ./data/dumps:/docker-entrypoint-initdb.d
            - ./data/custom:/etc/mysql/conf.d
            - mysql-data-WEB_PORT:/var/lib/mysql
        networks:
            - dlocal-net
    memcached:
      image: memcached
      restart: always
      ports:
        - "MEMCACHED_PORT:11211"
      networks:
            - dlocal-net
volumes:
    mysql-data-WEB_PORT:
        
networks:
  dlocal-net:
    driver: bridge
  proxylocal_docker-proxy-net:
      external: true